footer{
    background-color: #343a40;
    color: white;
    li{
        margin: 20px 0;
    }
    span{
        color: #007bff;
        font-weight: 700;
    }

    .contact{
        color: red;
    }
    .info{
        font-weight: 700;
    }
}